.advantages {
  background-color: #f2f2f2;
}

.advantages__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  list-style: none;
}

.advantages__item {
  margin-bottom: 13px;
  width: 280px;
  text-align: center;
}

.advantages__title {
  margin-top: 18px;
  margin-bottom: 24px;
  font-weight: bold;
  font-size: 18px;
  line-height: 24px;
  color: #000000;
}

.advantages__description {
  margin-top: 0;
  margin-bottom: 0;
}
