.contacts {
  padding-bottom: 42px;
  text-align: center;
}

.contacts__wrapper {
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

.contacts__title {
  margin-bottom: 45px;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  color: #283645;

  @media @tablet {
    font-size: 40px;
    line-height: 54px;
  }

  @media @desktop {
    font-size: 50px;
    line-height: 68px;
  }
}

.contacts__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0;

  @media @tablet {
    justify-content: space-around;
  }
}

.contacts__item {
  margin: 0;
  padding: 0;
  list-style: none;
  width: 280px;
  margin-bottom: 31px;

  &:last-child {
    margin-bottom: 0;
  }

  &--phone {
    @media @desktop {
      order: 1;
    }
  }

  &--email {
    @media @desktop {
      order: 3;
    }
  }

  &--adress {
    @media @desktop {
      order: 2;
    }
  }
}

.contacts__subtitle {
  font-weight: bold;
  font-size: 18px;
  line-height: 25px;
}

.contacts__text {
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  color: #d22856;
}

.contacts__link {
  text-decoration: none;
  color: #d22856;

  &:hover {
    text-decoration: underline;
    color: #283645;
  }

  &:active {
    text-decoration: none;
    color: fade(#283645, 30%);
  }
}
