.intro__download {
  height: 271px;
  padding-top: 28px;
  margin: 0 auto;
  background-color: #1D2631;
}

.download__link-main {
  display: block;
  width: 274px;
  margin-left: 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 18px;
  text-align: center;
  text-decoration: none;
  border: 3px solid #FFFFFF;
  border-radius: 29px;
  color: #FFFFFF;
  margin: 0 auto;
}

.download__link-main {
  &:hover,
  &:focus {
    background-color: #FFFFFF;
    color: #D22856;
  }
  &:active {
    color: #D22856;
    opacity: 0.3;
  }
}

.download__list {
  display: flex;
  justify-content: center;
  margin-top: 38px;
}

.download__item {
  display: block;
  margin-right: 35px;
}

.download__info {
  display: block;
  font-weight: 300;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  margin-top: 28px;
  color: #FFFFFF;
}
