.main-nav {
  background-color: rgba(0,0,0,.5);
  width: 100%;

  &__main-wrapper {
    min-height: 66px;
  }

  &__logo-wrapper {
    padding-top: 22px;
    padding-left: 20px;
  }

  &__wrapper {
    width: 100%;
  }
  &__toggle {
    display: block;
    position: absolute;
    border: none;
    outline: none;
    top: 0;
    right: 0;
    width: 200px;
    min-height: 66px;
    font-size: 0;
    line-height: 0;
    background-color: transparent;
    .icon-menu {
      position: absolute;
      top: 21px;
      right: 20px;
      fill: #fff;
    }
    &:hover .icon-menu {
      fill: #d22856;
      transition: 0.1s;
    }

    .icon-menu--close {
      display: none;
    }

    .icon-menu--open {
      display: none;
    }
  }

  &__list {
    margin: 0;
    padding: 0;

  }

  &__item {
    text-align: center;
    background-color: #283645;
    border-bottom: 1px solid #010101;
    border-top: 1px solid #485461;
    & a {
      text-transform: uppercase;
      &:hover,
      &:focus {
        color: #D22856;
      }
      &:active {
        opacity: 0.3;
      }
    }
  }

  &__link {
    display: block;
    overflow: hidden;

    position: relative;

    padding-top: 18px;
    padding-bottom: 18px;

    text-decoration: none;

    color: #fff;

    font-size: 18px;
    line-height: 32px;
    font-weight: bold;
  }
}

@media (min-width: 600px) {
  .main-nav {
    margin: 0;

    &__main-wrapper {
      min-height: 110px;
    }

    &__logo-wrapper {
      padding-top: 27px;
      padding-left: 20px;
    }

    &__wrapper {
      width: 100%;

      top: 0;
    }

    &__toggle {
      min-height: 110px;

      &::after {
        right: 0;
      }

      .icon-menu {
        top: 44px;
      }
    }

    &__link {
      padding-top: 15px;
      padding-bottom: 15px;
    }
  }
}

@media (min-width: 1280px) {
  .main-nav {
    display: flex;
    position: static;

    &__logo-wrapper {
      margin-left: 130px;
    }

    &__wrapper {
    position: static;
    float: right;

    text-align: right;
    }

    &__list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      flex-grow: 1;
      min-width: 660px;
      margin-top: 15px;
      margin-right: 130px;
      justify-content: flex-end;
      align-items: center;
    }

    &__item {
      overflow: hidden;
      background-color: transparent;
      border: none;
      & a {
        text-transform: none;
      }
    }

    &__link {
      padding-left: 0;
      padding-left: 82px;
      font-weight: normal;
    }

    &__item--active .main-nav__link::after {
      content: "";
      position: absolute;

      height: 2px;

      top: 54px;
      left: 82px;
      right: 0;

      background-color: #fff;

      transition: 0.1s;
    }

    &__toggle {
      display: none;
    }
  }
}
