.main-nav {
  @media @desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 940px;
    background-color: transparent;
  }
}

.main-nav__logo-wrapper {
  display: flex;
  justify-content: space-between;
  padding: 22px 20px 21px;

  @media @tablet {
    padding-top: 27px;
    padding-bottom: 43px;
  }

  @media @desktop {
    padding-left: 0;
    padding-right: 0;
  }
}

.main-nav__toggle {
  position: relative;
  align-self: flex-end;
  padding: 0;
  border: 0;
  color: #ffffff;
  background-color: transparent;
  display: none;
}

.main-nav__list {
  display: none;
  border-top: 1px solid #000000;
  line-height: 32px;
  margin: 0;
  list-style: none;
  padding: 0;

  @media @desktop {
    border-top: 0;
    display: flex;
    flex-wrap: wrap;
    width: 620px;
    line-height: 18px;
  }
}

.main-nav__item {
  position: relative;
  border-top: 1px solid fade(#ffffff, 15%);
  border-bottom: 1px solid #000000;
  text-align: center;

  @media @desktop {
    border: 0;
    margin: 10px 0;
    padding: 0;
  }

  &:not(:last-child) {
    @media @desktop {
      margin-right: 78px;
    }
  }

  & a {
    &:hover,
    &:focus {
      color: #d22856;
    }

    &:active {
      opacity: 0.3;

      @media @desktop {
        color: #ffffff;
        opacity: 0.3;
      }
    }
  }
}

.main-nav__link {
  display: block;
  padding: 10px 20px;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;
  text-decoration: none;
  text-transform: uppercase;
  color: #ffffff;

  @media @desktop {
    font-weight: 400;
    line-height: 18px;
    text-transform: none;
    padding: 0;
  }
}

.main-nav__item--active .main-nav__link::after {
  @media @desktop {
    content: "";
    position: absolute;
    bottom: -19px;
    left: 0;
    right: 0;
    height: 2px;
    background-color: #ffffff;
  }
}
