.page-header {
  position: relative;
  color: #ffffff;
  background-image: url("../img/download-bg-mobile.jpg");
  background-repeat: no-repeat;
  background-size: 760px 462px;
  background-position: 50% 0;
  background-color: #1d2631;
  max-height: 854px;

  @media @tablet {
    background-image: url("../img/download-bg-tablet.jpg");
    background-size: 1200px 729px;
  }

  @media @desktop {
    background-image: url("../img/download-bg-desktop.jpg");
    background-size: 2560px 853px;
  }
}

.page-header__nav-wrapper {
  background-color: fade(#000000, 30%);
}

.page-header__main-nav {
  margin: 0 auto;
}

.page-header__download {
  margin: 0 auto;
}

.page-header__title-wrapper {
  padding: 16px 20px 40px;
  min-height: 171px;
  margin: 0 auto;
  box-sizing: border-box;

  @media @tablet {
    padding-top: 40px;
    min-height: 330px;
  }

  @media @desktop {
    padding-top: 30px;
    padding-bottom: 67px;
    min-height: 284px;
  }
}

.page-header__title {
  margin: 0 auto;
  margin-top: 10px;
  margin-bottom: 15px;
  font-weight: 300;
  font-size: 24px;
  line-height: 33px;
  text-align: center;
  width: 228px;

  @media @tablet {
    margin-top: 30px;
    margin-bottom: 15px;
    font-size: 50px;
    line-height: 68px;
    width: 620px;
  }

  @media @desktop {
    margin-top: 30px;
    width: 747px;
  }
}
