.page-footer {
  padding-top: 40px;
  padding-bottom: 40px;

  @media (min-width: 1280px) {
    padding-bottom: 40px;
  }
}

.page-footer__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  max-width: 940px;
  margin: 0 auto;

  @media (min-width: 600px) {
    flex-direction: row;
    justify-content: space-between;
  }

  @media (min-width: 1280px) {
    padding-left: 130px;
    padding-right: 130px;
  }
}

.page-footer__logo {
  display: inline-flex;
}

.social__list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 40px 0 40px 0;

  @media (min-width: 600px) {
    padding: 0;
  }
}

.social__item {
  margin-right: 14px;

  &:last-of-type {
    margin-right: 0;
  }
}

.social__link {
  display: inline-flex;
  width: 48px;
  height: 48px;
  border-width: 3px;
  border-style: solid;
  border-color: fade(#283645, 10%);
  border-radius: 50%;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.social__link-logo {
  display: block;
  margin: auto;
}

.page-footer__developed {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 153px;

  @media (min-width: 600px) {
    justify-content: flex-end;
  }
}

.page-footer__developed-text {
  font-size: 14px;
  line-height: 18px;
  margin-right: 15px;

  @media (min-width: 1280px) {
    font-size: 18px;
    margin-right: 13px;
  }
}

.page-footer__developed-link {
  display: inline-flex;
  color: #d22856;

  &:hover {
    color: #283645;
  }

  &:active {
    color: fade(#283645, 30%);
  }
}

.page-footer__developed-logo {
  display: block;
  fill: currentColor;
}
