.price-slider {
  line-height: 30px;
  text-transform: uppercase;
  padding-top: 100px;
  padding-bottom: 45px;
  background-image: url("../img/price-bg-mobile.svg");
  background-repeat: no-repeat;
  background-size: 100%;

  @media @tablet {
    padding-top: 20px;
    padding-bottom: 70px;
    background-image: url("../img/price-bg-tablet.svg");
  }

  @media @desktop {
    background-image: url("../img/price-bg-desktop.svg");
  }
}

.price-slider__slider-dots {
  margin-top: 45px;

  @media @tablet {
    display: none;
  }
}

.price__table {
  padding-top: 40px;
  margin: 0 auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  transition: left 0.4s linear;

  @media @tablet {
    padding-top: 120px;
    position: static;
    left: auto;
    transform: none;
  }

  @media @desktop {
    padding-top: 170px;
  }
}
