.slider__wrapper {
  display: flex;
  flex-wrap: wrap;
}

.slider__dots {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 12px;
  margin: 0 auto;
  margin-top: 44px;

  @media @desktop {
    display: none;
  }
}

.slider-dot__button {
  box-sizing: content-box;
  margin-left: 9px;
  margin-right: 10px;
  padding: 0;
  width: 6px;
  height: 6px;
  border: 0;
  border-radius: 50%;
  font-style: inherit;
  background-color: fade(#283645, 30%);
  cursor: pointer;

  &--active {
    box-shadow: 0 0 0 3px #283645;
    background-color: transparent;
    cursor: default;
  }

  &:not(&--active):hover {
    background-color: fade(#283645, 60%);
  }

  &:not(&--active):active {
    background-color: fade(#283645, 10%);
  }
}

.slider-nav {
  justify-content: space-between;
}

.slider-nav__slider-button {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  box-sizing: border-box;
  padding: 0;
  width: 22px;
  height: 41px;
  border: 0;
  background-color: transparent;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 50%;
    width: 27px;
    height: 27px;
    border-bottom: none;
    border-left: none;
    border-top: 2px solid fade(#283645, 30%);
    border-right: 2px solid fade(#283645, 30%);
  }

  &:hover::before {
    border-top-color: fade(#283645, 60%);
    border-right-color: fade(#283645, 60%);
  }

  &:active::before {
    border-top-color: fade(#283645, 10%);
    border-right-color: fade(#283645, 10%);
  }

  &--prev::before {
    left: 7px;
    transform: translateY(-50%) rotate(225deg);
  }

  &--next::before {
    right: 7px;
    transform: translateY(-50%) rotate(45deg);
  }
}
